.container{
	background-color:   lightblue        ;
	width: 960px                     ;
}
 
.header{
	background-color: rgb(131, 214, 241)          ;
padding:  10px                  ;
}
.navbar{
	background-color:rgb(92, 144, 161)           ;
padding:     10px               ;
}
.article{
	background-color: rgb(86, 151, 173)          ;
	padding:     10    	;
width: 	660px	;
height: 300px		;
}
 
.ad-sidebar{
	background-color:  rgb(13, 80, 102)    ;
width: 300px	;
height:	300px	;
}
 
.footer{
	background-color:rgb(5, 62, 83)       ;
padding:  10     ;
}
.outerimg{
	margin-right: auto;
}